<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    let socket = io();

    /*
    Formulario con socket.io
    */

    let formSubirProducto = document.getElementById("formSubirProducto");
    let botonEnviar = document.getElementById("botonEnviar");
    let botonEnviando = document.getElementById("botonEnviando");

    formSubirProducto.addEventListener("submit", (e) => {
        e.preventDefault();
        let producto = e.target.children[1].children[1].value;
        let precio = e.target.children[2].children[1].value;
        let imagen = e.target.children[3].children[1].value;

        botonEnviar.classList.add('visually-hidden');
        botonEnviando.classList.remove('visually-hidden');

        let data = {
            title: producto,
            price: precio,
            thumbnail: imagen
        };

        try {
            socket.emit("nuevoProducto", JSON.stringify(data));
        } catch (error) {
            console.log(error)
        }

        botonEnviando.classList.add('visually-hidden');
        botonEnviar.classList.remove('visually-hidden');
    });

    /*
    Tabla en tiempo real
    */

    let tabla = document.getElementById("tabla");
    let alerta = document.getElementById("alerta");
    let informacion = document.getElementById("informacion");

    socket.on("productos", function (element) {
        if (element.length === 0) {
            alerta.classList.remove('visually-hidden');
            tabla.classList.add('visually-hidden');
            informacion.innerHTML = "";
        } else {
            alerta.classList.add('visually-hidden');
            tabla.classList.remove('visually-hidden');
            informacion.innerHTML = "";
            element.forEach(element => {
                console.log(element)
                let append = `
            <tr>
                <th scope="row">
                    ${element.id}
                </th>
                <td>
                    ${element.title}
                </td>
                <td>
                    $${element.price}
                </td>
                <td><img src="${element.thumbnail}" alt="thumbnail" width="30" height="30"></td>
            </tr>`;
            informacion.innerHTML += append;
            });
        }
    });

    /*
    Chat en tiempo real
    */

    let formChat = document.getElementById("formChat");
    let botonEnviarChat = document.getElementById("botonEnviarChat");
    let botonEnviandoChat = document.getElementById("botonEnviandoChat");

    formChat.addEventListener("submit", (e) => {
        e.preventDefault();
        let autor = e.target.children[0].children[0].value;
        let mensaje = e.target.children[1].children[0].value;

        botonEnviarChat.classList.add('visually-hidden');
        botonEnviandoChat.classList.remove('visually-hidden');

        let data = {
            author: autor,
            message: mensaje
        };

        try {
            socket.emit("nuevoMensaje", JSON.stringify(data));
        } catch (error) {
            console.log(error)
        }

        botonEnviandoChat.classList.add('visually-hidden');
        botonEnviarChat.classList.remove('visually-hidden');
    });

    let mensajes = document.getElementById("mensajes");
    let alertaChat = document.getElementById("alertaChat");

    socket.on("mensajes", function (element) {
        let mensajesRecibidos = JSON.parse(element);
        console.log(mensajesRecibidos);
        if (mensajesRecibidos.length === 0) {
            alertaChat.classList.remove('visually-hidden');
            mensajes.innerHTML = "";
        } else {
            alertaChat.classList.add('visually-hidden');
            mensajes.innerHTML = "";
            mensajesRecibidos.forEach(element => {
                let append = `
                <div class="toast show mb-2" role="alert" aria-live="assertive" aria-atomic="true"
                    style="width: auto;">
                    <div class="toast-header">
                        <strong class="me-auto text-primary">${element.author}</strong>
                        <small class="text-muted" style="color: brown !important;">${element.timestamp}</small>
                    </div>
                    <div class="toast-body text-success fst-italic">
                        ${element.message}
                    </div>
                </div>`;
                mensajes.innerHTML += append;
            });
            mensajes.scrollTop = mensajes.scrollHeight;
        }
    });

</script>