<div class="container">
    <p class="h1 my-3">Vista de productos</p>
    <div id="alerta" class="alert alert-warning visually-hidden" role="alert">
        No se encontraron productos.
    </div>
    <table id="tabla" class="table visually-hidden">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="informacion">
            
        </tbody>
    </table>
</div>