<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid px-0">

    <header class="sticky-top">
        <%- include('../partials/header'); %>
    </header>

    <main class="container">
        <%- include('../partials/table'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>